doctype
html
  head
    link(href='/stylesheets/starter-template.css', rel='stylesheet')
    link(href='http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css', rel='stylesheet')
    script(src='http://fb.me/react-with-addons-0.13.1.js')
    title React Server Side Rendering Example
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')      script(src='http://fb.me/JSXTransformer-0.13.1.js')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js')
    script(type="text/jsx", src='/components.jsx')
  body
    div(id='react-root')!= react


